@font-face {
  font-family: 'Inter-Regular';
  src: url('../src/fonts/Inter/static/Inter-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../src/fonts/Inter/static/Inter-ExtraLight.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter-Light';
  src: url('../src/fonts/Inter/static/Inter-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('../src/fonts/Inter/static/Inter-SemiBold.ttf') format('opentype');
}

html {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: #969899;
}

a:visited {
  text-decoration: none;
  color: #969899;
}

body {
  background-color: #eceff1;
}

input[type='text'] {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* Стилизация чекбоксов отсюда - https://habr.com/ru/post/489476/ */

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 42px;
  height: 42px;
  background: rgba(150, 152, 153, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
  content: '';
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  border-radius: 11px;
  border: 1px solid #ffffff;
}

input[type='checkbox']:not(:checked) + label:after {
  opacity: 0;
}

input[type='checkbox']:checked + label:after {
  opacity: 1;
}

input {
  outline: none;
}

.main-title {
  font-family: Inter-Regular;
  font-size: 3.5rem;
  color: #969899;
  opacity: 0.5;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 3rem 0 0 0;
  text-align: center;
}

.main-title-text {
  font-family: Inter-Regular;
  font-size: 0.85rem;
  color: #969899;
  opacity: 0.5;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.main-title-link {
  font-family: Inter-SemiBold;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 1.5rem 0;
}

.show-password {
  min-width: 85vw;
  max-width: 100vw;
  height: 4rem;
  padding: 0;
  border: none;
  border-radius: 19px;
  font-family: Inter-Regular;
  font-size: 1.9rem;
  text-align: center;
  color: rgba(150, 152, 153, 0.5);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.show-password-warning {
  position: absolute;
  z-index: 1;
  font-family: Inter-Regular;
  font-size: 0.85rem;
  color: #969899;
  opacity: 0.5;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 0 0 0;
}

.button {
  padding: 0;
  margin: 1.5rem 0 0 0;
  border: none;
  width: 4rem;
  height: 4rem;
  background: rgba(150, 152, 153, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 19px;
  cursor: pointer;
}

.button-image {
  width: 24px;
}

.properties {
  background-color: #ffffff;
  border-radius: 21px;
  padding: 16px 16px 24px 16px;
  margin: 0 0 96px 0;
}

.property {
  margin: 11px 0 0 0;
}

.property-length {
  display: flex;
}

.prop-length {
  width: 42px;
  height: 42px;
  padding: 0;
  margin: 0 0 -7px 0;
  border: none;
  background: rgba(150, 152, 153, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-family: Inter-ExtraLight;
  font-size: 28px;
  text-align: center;
  color: #ffffff;
  -moz-appearance: textfield;
}

.prop-length::-webkit-inner-spin-button {
  display: none;
}

.property-name-length {
  font-family: Inter-Light;
  font-weight: 500;
  font-size: 24px;
  color: rgba(150, 152, 153, 0.5);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 7px 0 0 16px;
}

.property-name {
  font-family: Inter-Light;
  font-weight: 500;
  font-size: 24px;
  color: rgba(150, 152, 153, 0.5);
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 1px 0 0 57px;
}

.footer-text {
  position: relative;
  right: 2rem;
  font-family: Inter-Regular;
  font-size: 16px;
  text-align: right;
  color: #969899;
  opacity: 0.5;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  margin: 0 0 32px 0;
}

.footer-link {
  font-family: Inter-SemiBold;
}

.hidden {
  visibility: hidden;
  display: none;
}

@media (max-width: 374px) {
  .show-password {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .main-title {
    font-size: 4rem;
    margin: 6rem 0 0 0;
  }

  .main-title-text {
    font-size: 1rem;
  }

  .password {
    margin: 6rem 0 0 0;
    width: 700px;
  }

  .show-password {
    min-width: 700px;
    max-width: 700px;
    border-radius: 29px;
    font-size: 64px;
    height: 5rem;
  }

  .show-password-warning {
    position: absolute;
    z-index: 1;
    margin: -2rem 0 0 0;
    font-size: 1rem;
  }

  .button {
    position: relative;
    z-index: 1;
    margin: 2rem 0 2rem 0;
    width: 5rem;
    height: 5rem;
    border-radius: 29px;
  }

  .button-image {
    width: 30px;
  }

  .properties {
    background-color: #ffffff;
    border-radius: 21px;
    padding: 16px 16px 24px 16px;
    margin: 0 0 96px 0;
  }

  .footer-text {
    right: 64px;
  }
}
